main {
    font-family: "inter";
    text-align: left;
    background-color: white;
    margin: 0px;
    padding: 70px 0px;
}

main ol {
    text-align: left;
    padding: 0px;
    margin: 2px 0px 2px 50px;
}

main h4 {
    margin: 2px 0px 2px 30px;
    font-family: "inter";
    font-size: 17px;
    font-weight: 900;
}
main p {
    margin: 2px 0px 2px 30px;
    font-family: "inter";
}

@media only screen and (max-width:600px) {

    main div.fondo {
        width: 100%;
        padding: 60px 0px;
    }
    
    main ol {
        margin: 2px 60px;
    }

    main h4 {
        margin: 2px 40px;
    }

    main p {
        margin: 2px 40px;
    }

}