body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(220, 220, 220);
}

.body-wrapper {
    display: grid;
    grid-template-columns: auto minmax(auto, 1000px) auto;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
                         "vacio1 main vacio2"
                         "footer footer footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

header nav {
    background-color: white;
}

header ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

header ul li {
    display: inline-flex;
    flex-grow: 1;
    min-width: 120px;
    max-width: 200px;
}

header ul li a {
    width: 100%;
    color:black;
    text-align: center;
    font-family: "inter";
    font-weight: 600;
    font-size: 16px;
    padding: 10px 0px;
    display: inline-block;
    text-decoration: none;
}

header ul li a.activo,
header ul li a:hover {
    background-color: black;
    color:whitesmoke;
}

.centrado {
    margin: 0px auto;
}

header {
    background-color: black;
}

header table .logo img {
    width: 150px;
}

header h1 {
    color: whitesmoke;
    font-family: "inter";
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0px;
}

header p {
    color: whitesmoke
}

header table {
    width: 100%;
}

header table .logo {
    width: 150px;
}

header table td.search form {
    margin-left: auto;
    padding-right: 10px;
    width: 264px;
}

header table td.search form input {
    font-family: "inter";
}

header table .carrito {
    font-family: "inter";
    font-size: 15px;
}

header table .carrito p,
header table .carrito img {
    display: inline-block;
}

header table .carrito img {
    margin-bottom: -4px;
    cursor: pointer;
}

.footer {
    background-color: black;
}

.footer-centrado {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer .redesSociales {
    vertical-align: 0px;
}

footer .redesSociales img {
    padding: 5px 30px 0px 0px;
    cursor: pointer;
}

footer .atencionClientes {
    vertical-align: 0px;
}

footer .newsletter {
    vertical-align: 0px;
    width: 50%;
}

footer h5 {
    color: whitesmoke;
    font-family: "inter";
    font-weight: 600;
    letter-spacing: 2px;
}

footer p {
    color:whitesmoke;
    font-family: "inter";
    font-size: 13px;
    font-weight: 200;
    margin: 7px 0px;
}

footer #copyright {
    color: rgb(212, 208, 208);
    font-family: "inter";
    font-size: 12px;
    text-align: center;
    padding: 30px 0px 20px 0px;
    margin: 0px;
    background-color: black;
}

@media only screen and (max-width:1000px) {
    .body-wrapper {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "header"
                            "main"
                            "footer";
    }
}

@media only screen and (max-width:680px) {
    header nav {
        background-color: rgb(220, 220, 220);
    }

    header ul {
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    header ul li {
        width: 100%;
        max-width: 100%;
    }

    header ul li a {
        width: 100%;
        font-size: 14px;
        padding: 3px 0px;
    }

    header ul li a.activo,
    header ul li a:hover {
        background-color: rgb(179, 176, 176);
        color: white;
    }

    header table .logo img {
        width: 120px;
    }

    header h1 {
        color: whitesmoke;
        font-size: 23px;
        font-family: "inter";
        font-weight: 600;
        letter-spacing: 1px;
        margin: 0px;
    }

    header p {
        color: whitesmoke
    }

    header table {
        width: 100%;
    }

    header table .logo {
        width: 100px;
    }

    header table td.search form {
        margin-left: auto;
        padding-right: 10px;
        width: 264px;
        display: none;
    }

    header table td.search form input {
        font-family: "inter";
        display: none;
    }

    header table .carrito {
        font-family: "inter";
        font-size: 14px;
        padding-bottom: 0px;
    }

    .footer-centrado {
        display: flex;
        flex-direction: column;
    }

    footer .redesSociales {
        vertical-align: 0px;
        text-align: center;
    }
    
    footer .redesSociales img {
        padding: 5px 10px 0px 0px;
    }
    
    footer .atencionClientes {
        vertical-align: 0px;
        text-align: center;
    }
    
    footer .newsletter {
        margin: 0px auto;
        text-align: center;
    }
  
    footer h5 {
        margin: 15px 0px 5px 0px;
    }
}