body {
  margin: 0px;
  padding: 0px;
  background-color: gainsboro; }
  body * {
    font-family: "inter"; }

.body-wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1000px) 1fr;
  grid-template-rows: 154px auto 210px;
  grid-template-areas: "header header header" "vacio1 main vacio2" "footer footer footer";
  min-height: 100vh; }

main {
  grid-area: main; }

header {
  grid-area: header;
  background-color: black;
  box-shadow: 0px 1px 10px grey;
  z-index: 100; }
  header nav {
    background-color: gainsboro; }
  header ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center; }
    header ul li {
      display: inline-flex;
      flex-grow: 1;
      min-width: 120px;
      max-width: 200px; }
      header ul li a {
        font-family: "inter";
        font-size: 16px;
        font-weight: 600;
        width: 100%;
        color: black;
        text-align: center;
        padding: 10px 0px;
        display: inline-block;
        text-decoration: none; }
        header ul li a.activo, header ul li a:hover {
          background-color: black;
          color: whitesmoke; }
  header h1 {
    font-weight: bold;
    margin-bottom: 0px;
    line-height: 1.1;
    font-size: 33px; }
  header p {
    margin-bottom: 0px; }
  header .headerContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px; }
  header .logo img {
    width: 110px;
    padding-left: 20px; }
  header .welcomeKhaos {
    color: whitesmoke;
    letter-spacing: 1px;
    flex-grow: 1; }
  header .form-control {
    border-radius: 7px;
    background-color: black;
    border: 1px solid whitesmoke; }
    header .form-control:focus {
      background-color: black;
      border: 1px solid #afafaf;
      color: whitesmoke;
      box-shadow: 0 0 0 0.25rem rgba(169, 169, 169, 0.25); }
  header .search {
    padding-right: 40px;
    padding-left: 40px; }
  header .btn {
    border-radius: 7px; }
  header .carrito {
    font-size: 15px;
    color: whitesmoke;
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 0px !important;
    margin-left: auto; }
    header .carrito p {
      display: inline-block; }
    header .carrito p,
    header .carrito i {
      cursor: pointer; }
  header .input-group {
    margin-bottom: 0px !important; }

.centrado, footer .footer-centrado, .home main .collection {
  margin: 0px auto; }

.btn-outline-secondary {
  color: whitesmoke;
  border-color: whitesmoke; }

footer {
  grid-area: footer;
  background-color: black;
  text-align: left; }
  footer .footer-centrado {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    footer .footer-centrado .redesSociales {
      cursor: pointer;
      color: whitesmoke;
      font-size: 20px;
      letter-spacing: 15px; }
    footer .footer-centrado .newsletter {
      width: 40%; }
      footer .footer-centrado .newsletter .form-control {
        border-radius: 7px;
        background-color: black;
        border: 1px solid whitesmoke; }
        footer .footer-centrado .newsletter .form-control:focus {
          background-color: black;
          border: 1px solid #afafaf;
          color: whitesmoke;
          box-shadow: 0 0 0 0.25rem rgba(169, 169, 169, 0.25); }
    footer .footer-centrado h5,
    footer .footer-centrado p {
      color: whitesmoke; }
    footer .footer-centrado h5 {
      font-family: "inter";
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 2px;
      padding-top: 15px; }
    footer .footer-centrado p {
      font-family: "inter";
      font-size: 13px;
      font-weight: 200;
      margin: 7px 0px; }
  footer #copyright {
    color: #d4d0d0;
    font-size: 12px;
    text-align: center;
    padding: 30px 0px 20px 0px;
    margin: 0px;
    background-color: black; }

@media only screen and (max-width: 1200px) {
  .body-wrapper {
    grid-template-columns: auto;
    grid-template-areas: "header" "main" "footer"; } }

@media only screen and (max-width: 1101px) {
  .body-wrapper {
    grid-template-rows: 202px auto 230px; }
  header .input-group {
    margin-bottom: 10px !important; }
  header .welcomeKhaos h1 {
    font-size: 30px; }
  header .search {
    width: 50%;
    order: 4;
    margin-left: auto; }
  footer .footer-centrado {
    justify-content: space-around; } }

@media only screen and (max-width: 680px) {
  .body-wrapper {
    grid-template-rows: 205px auto 414px; }
  header ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    header ul li {
      width: 100%;
      max-width: 100%; }
      header ul li a {
        width: 100%;
        font-size: 14px;
        padding: 3px 0px; }
        header ul li a.activo, header ul li a:hover {
          background-color: #b3b0b0;
          color: whitesmoke; }
  header .welcomeKhaos h1 {
    padding-left: 20px;
    font-size: 25px;
    line-height: 1; }
  header .carrito {
    padding-left: 20px;
    font-size: 12px; }
  header .search {
    display: none; }
  header .logo {
    width: 100%; }
  header .logo img {
    display: none; }
  header .input-group {
    margin-bottom: 10px !important; }
  footer .footer-centrado {
    display: flex;
    flex-direction: column; }
    footer .footer-centrado .redesSociales {
      vertical-align: 0px;
      text-align: center;
      letter-spacing: 10px; }
    footer .footer-centrado .atencionClientes {
      vertical-align: 0px;
      text-align: center; }
    footer .footer-centrado .newsletter {
      margin: 0px auto;
      text-align: center;
      width: 80%; }
    footer .footer-centrado h5 {
      margin: 15px 0px 5px 0px;
      font-size: 14px; }
    footer .footer-centrado .form-control {
      margin-top: 5px; }
    footer .footer-centrado .btn {
      margin-top: 5px; } }

@media only screen and (max-width: 480px) {
  .body-wrapper {
    grid-template-rows: 223px auto 414px; }
  header .welcomeKhaos {
    width: 100%; } }

.home .body-wrapper {
  grid-template-columns: auto;
  grid-template-areas: "header" "main" "footer"; }

.home main {
  background-color: gainsboro;
  margin: 0px; }
  .home main img {
    vertical-align: middle; }
  .home main .img-wrapper {
    max-height: 500px;
    overflow: hidden; }
    .home main .img-wrapper .img-container {
      max-height: inherit;
      transform: translateY(50%); }
      .home main .img-wrapper .img-container img#portada {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        transform: translateY(-50%); }
  .home main .collection {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0px 1px 25px grey;
    z-index: 100; }
    .home main .collection .collection-element {
      width: 50%;
      max-height: 500px;
      overflow: hidden; }
      .home main .collection .collection-element .collection-new {
        max-height: inherit; }
        .home main .collection .collection-element .collection-new:hover {
          opacity: 0.9;
          filter: grayscale(80%); }
  .home main .promo {
    text-align: center;
    background-color: #b85858;
    width: 100%;
    margin: 0px auto; }
    .home main .promo input {
      padding: 5px 70px;
      color: whitesmoke;
      font-family: "inter";
      font-weight: 400;
      letter-spacing: 1px;
      background-color: black;
      cursor: pointer;
      border: 0px;
      margin: 20px 0px 60px 0px;
      border-radius: 4px; }
      .home main .promo input:hover {
        background-color: #333131;
        color: whitesmoke;
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
    .home main .promo h2 {
      font-family: "inter";
      font-weight: bold;
      font-size: 35px;
      color: whitesmoke;
      letter-spacing: 25px;
      padding: 60px 0px 3px 0px;
      margin: 0px; }
    .home main .promo h3 {
      font-family: "inter";
      font-weight: 600;
      font-size: 16px;
      color: whitesmoke;
      letter-spacing: 5px;
      padding: 3px 0px 0px 0px;
      margin: 0px; }

@media only screen and (max-width: 600px) {
  .home main .collection {
    flex-direction: column; }
    .home main .collection .collection-element {
      width: 100%; }
      .home main .collection .collection-element .collection-new {
        width: 100%; }
  .home main .promo h2 {
    font-size: 28px;
    letter-spacing: 18px; }
  .home main .promo h3 {
    font-size: 15px;
    letter-spacing: 4px; } }

.productos main {
  background-color: white;
  margin: 0px; }
  .productos main .products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .productos main .products .product-item {
      font-family: "inter";
      font-weight: 600;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 40px; }
      .productos main .products .product-item select {
        border: 2px solid black;
        width: 40px;
        border-radius: 4px; }
      .productos main .products .product-item img {
        width: inherit;
        max-width: inherit;
        margin-bottom: -4px; }
      .productos main .products .product-item div:not(.top-newarrivals) {
        padding-top: 5px; }
      .productos main .products .product-item div.top-newarrivals {
        position: relative;
        overflow: hidden;
        width: 100%;
        max-width: 400px;
        cursor: pointer; }
        .productos main .products .product-item div.top-newarrivals:hover .overlay {
          opacity: 0.5; }
        .productos main .products .product-item div.top-newarrivals:active .overlay {
          opacity: 0; }
        .productos main .products .product-item div.top-newarrivals:active img {
          transform: scale(2);
          transform-origin: bottom; }
          .productos main .products .product-item div.top-newarrivals:active img.center-zoom {
            transform: scale(2);
            transform-origin: 50% 30%; }
        .productos main .products .product-item div.top-newarrivals .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: 0.5s ease;
          background-color: black; }
        .productos main .products .product-item div.top-newarrivals .text {
          color: whitesmoke;
          font-family: "inter";
          font-size: 17px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center; }
      .productos main .products .product-item input.buttonCarrito {
        border: none;
        background-color: black;
        color: whitesmoke;
        border-radius: 4px;
        padding: 8px 20px;
        font-family: "inter";
        cursor: pointer; }
        .productos main .products .product-item input.buttonCarrito:hover {
          background-color: #b85858;
          color: whitesmoke;
          box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
      .productos main .products .product-item input.buttonCantidad {
        border: 2px solid black;
        width: 40px;
        padding: 6px;
        border-radius: 4px; }

@media only screen and (max-width: 600px) {
  .productos .product-item div.top-newarrivals:hover .overlay {
    opacity: 0; } }

.faqs main {
  font-family: "inter";
  text-align: left;
  background-color: white;
  margin: 0px;
  padding: 70px 0px; }
  .faqs main ol {
    text-align: left;
    padding: 0px;
    margin: 2px 0px 2px 50px; }
  .faqs main h4 {
    font-family: "inter";
    font-size: 17px;
    font-weight: 900;
    margin: 2px 0px 2px 30px; }
  .faqs main p {
    margin: 2px 0px 2px 30px;
    font-family: "inter"; }

@media only screen and (max-width: 600px) {
  .faqs main div.fondo {
    width: 100%;
    padding: 60px 0px; }
    .faqs main div.fondo ol {
      margin: 2px 60px; }
    .faqs main div.fondo h4 {
      margin: 2px 40px; }
    .faqs main div.fondo p {
      margin: 2px 40px; } }

.sobre-khaos main {
  margin: 0px;
  font-family: "inter";
  text-align: left;
  background-color: white;
  padding: 107px 0px; }
  .sobre-khaos main p {
    margin: 2px 40px;
    font-family: "inter"; }
  .sobre-khaos main img {
    width: 150px;
    margin: 40px auto;
    display: block; }

@media only screen and (max-width: 600px) {
  .sobre-khaos main {
    width: 100%;
    margin: 0px auto;
    padding: 50px 0px 70px 0px; }
    .sobre-khaos main p {
      margin: 2px 40px; }
    .sobre-khaos main img {
      width: 125px; } }

.contacto main {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }

.contacto main form {
  font-family: "inter";
  font-size: 14px;
  font-weight: 600;
  padding: 20px 40px; }

.contacto main form legend {
  font-family: "inter";
  font-size: 15px;
  font-weight: 700;
  padding: 30px 0px; }

.contacto main form label {
  font-weight: 600;
  color: black;
  display: block;
  padding-bottom: 5px; }

.contacto main form input {
  border: 1px solid black;
  color: black;
  border-radius: 4px;
  padding: 5px 15px;
  max-width: 350px;
  width: 100%;
  margin-bottom: 10px; }

.contacto main form input[type="submit"] {
  background-color: black;
  color: white;
  width: 70px; }

.contacto main form input[type="submit"]:hover {
  background-color: #333131;
  color: whitesmoke;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.contacto main form textarea {
  max-width: 350px;
  width: 100%;
  display: block;
  border-radius: 4px;
  padding: 5px 15px;
  margin-bottom: 10px; }

.contacto main .contacto-info h3 {
  font-family: "inter";
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 35px; }

.contacto main .contacto-info h4 {
  font-family: "inter";
  font-size: 15px;
  font-weight: 600;
  margin-top: 30px; }

.contacto main .contacto-info {
  text-align: center;
  padding-top: 120px;
  flex-grow: 1; }

.contacto main .contacto-info p {
  font-family: "inter";
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px; }

@media only screen and (max-width: 600px) {
  .contacto main {
    flex-direction: column; }
  .contacto main .contacto-info h3 {
    margin-top: 20px; }
  .contacto main .contacto-info h4 {
    margin-top: 20px;
    margin-bottom: 40px; }
  .contacto main .contacto-info {
    padding-top: 0px; }
  .contacto main .contacto-info p {
    font-size: 14px;
    margin-bottom: 10px; } }
