body {
  margin: 0px;
  padding: 0px;
  background-color: gainsboro; }
  body * {
    font-family: "inter"; }

.body-wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1000px) 1fr;
  grid-template-rows: 154px auto 210px;
  grid-template-areas: "header header header" "vacio1 main vacio2" "footer footer footer";
  min-height: 100vh; }

main {
  grid-area: main; }

header {
  grid-area: header;
  background-color: black;
  box-shadow: 0px 1px 10px grey;
  z-index: 100; }
  header nav {
    background-color: gainsboro;
    box-shadow: 0px 0px 34px 11px #000; }
  header ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 40px; }
    header ul li {
      display: inline-flex;
      flex-grow: 1;
      min-width: 120px;
      max-width: 200px; }
      header ul li a {
        font-family: "inter";
        font-size: 16px;
        font-weight: 600;
        width: 100%;
        color: black;
        text-align: center;
        padding: 10px 0px;
        display: inline-block;
        text-decoration: none;
        line-height: 1.2; }
        header ul li a.activo, header ul li a:hover {
          background-color: black;
          color: whitesmoke;
          transition: all 0.3s ease; }

h1 {
  font-weight: 600;
  margin-bottom: 0px;
  line-height: 1.1;
  font-size: 33px; }

p {
  margin-bottom: 0px; }

.headerContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  max-width: 1000px;
  margin: 0 auto;
  height: 130px; }

.logo img {
  width: 100px; }

.welcomeKhaos {
  color: whitesmoke;
  letter-spacing: 1px;
  flex-grow: 1;
  padding-left: 15px; }

.carrito {
  font-size: 14px;
  font-weight: 500;
  color: whitesmoke;
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 0px !important;
  margin-left: auto; }
  .carrito p {
    display: inline-block; }
  .carrito p,
  .carrito i {
    cursor: pointer; }
  .carrito:hover {
    color: #b85858; }

.input-group {
  margin-bottom: 0px !important; }

.centrado, footer .footer-centrado, .home main .collection {
  margin: 0px auto; }

footer {
  grid-area: footer;
  background-color: black;
  text-align: left; }
  footer .footer-centrado {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 14px; }
    footer .footer-centrado .redesSociales .icons-container {
      display: flex; }
      footer .footer-centrado .redesSociales .icons-container i {
        cursor: pointer;
        color: whitesmoke;
        font-size: 16px;
        padding-right: 20px; }
        footer .footer-centrado .redesSociales .icons-container i:hover {
          color: #b85858; }
    footer .footer-centrado .newsletter {
      width: 40%; }
      footer .footer-centrado .newsletter .btn-outline-secondary {
        font-size: 14px;
        color: whitesmoke;
        border-color: whitesmoke; }
      footer .footer-centrado .newsletter .form-control {
        font-size: 13px;
        border-radius: 7px;
        background-color: black;
        border: 1px solid whitesmoke; }
        footer .footer-centrado .newsletter .form-control:focus {
          background-color: black;
          border: 1px solid #afafaf;
          color: whitesmoke;
          box-shadow: 0 0 0 0.25rem rgba(169, 169, 169, 0.25); }
    footer .footer-centrado h5,
    footer .footer-centrado p {
      color: whitesmoke; }
    footer .footer-centrado h5 {
      font-family: "inter";
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 2px; }
    footer .footer-centrado p {
      font-family: "inter";
      font-size: 12px;
      font-weight: 200;
      margin: 7px 0px; }
  footer #copyright {
    color: #d4d0d0;
    font-size: 12px;
    text-align: center;
    padding: 30px 0px 20px 0px;
    margin: 0px;
    background-color: black; }

@media only screen and (max-width: 1200px) {
  .body-wrapper {
    grid-template-columns: auto;
    grid-template-areas: "header" "main" "footer"; } }

@media only screen and (max-width: 1101px) {
  .body-wrapper {
    grid-template-rows: 202px auto 230px; }
  header .input-group {
    margin-bottom: 10px !important; }
  header .welcomeKhaos h1 {
    font-size: 30px; }
  header .search {
    width: 50%;
    order: 4;
    margin-left: auto; }
  footer .footer-centrado {
    justify-content: space-around; } }

@media only screen and (max-width: 680px) {
  .body-wrapper {
    grid-template-rows: 205px auto 414px; }
  header ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    header ul li {
      width: 100%;
      max-width: 100%; }
      header ul li a {
        width: 100%;
        font-size: 14px;
        padding: 3px 0px; }
        header ul li a.activo, header ul li a:hover {
          background-color: #b3b0b0;
          color: whitesmoke; }
  header .welcomeKhaos h1 {
    padding-left: 20px;
    font-size: 25px;
    line-height: 1; }
  header .carrito {
    padding-left: 20px;
    font-size: 12px; }
  header .logo {
    width: 100%; }
  header .logo img {
    display: none; }
  header .input-group {
    margin-bottom: 10px !important; }
  footer .footer-centrado {
    display: flex;
    flex-direction: column; }
    footer .footer-centrado .redesSociales {
      vertical-align: 0px;
      text-align: center;
      letter-spacing: 10px; }
    footer .footer-centrado .atencionClientes {
      vertical-align: 0px;
      text-align: center; }
    footer .footer-centrado .newsletter {
      margin: 0px auto;
      text-align: center;
      width: 80%; }
    footer .footer-centrado h5 {
      margin: 15px 0px 5px 0px;
      font-size: 14px; }
    footer .footer-centrado .form-control {
      margin-top: 5px; }
    footer .footer-centrado .btn {
      margin-top: 5px; } }

@media only screen and (max-width: 480px) {
  .body-wrapper {
    grid-template-rows: 223px auto 414px; }
  header .welcomeKhaos {
    width: 100%; } }

.page404 {
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  min-height: 100vh;
  padding-top: 150px; }
  .page404 .logo img {
    width: 110px; }
  .page404 h3 {
    font-family: "inter";
    font-size: 20px;
    font-weight: 600;
    padding-top: 25px; }
  .page404 h4 {
    font-family: "inter";
    font-size: 16px;
    font-weight: 600; }
  .page404 p {
    font-family: "inter";
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 25px; }
  .page404 input {
    padding: 5px 70px;
    color: whitesmoke;
    font-family: "inter";
    font-weight: 400;
    letter-spacing: 1px;
    background-color: black;
    cursor: pointer;
    border: 1px solid whitesmoke;
    margin: 20px 0px 60px 0px;
    border-radius: 7px; }
    .page404 input:hover {
      background-color: #333131;
      color: whitesmoke;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.home .body-wrapper {
  grid-template-columns: auto;
  grid-template-areas: "header" "main" "footer"; }

.home main {
  background-color: gainsboro;
  margin: 0px; }
  .home main img {
    vertical-align: middle; }
  .home main .img-wrapper {
    max-height: 500px;
    overflow: hidden; }
    .home main .img-wrapper .img-container {
      max-height: inherit;
      transform: translateY(50%); }
      .home main .img-wrapper .img-container #portada {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        transform: translateY(-50%); }
  .home main .collection-title {
    background-color: black;
    letter-spacing: 1px;
    text-align: center;
    color: #cecaca;
    position: relative;
    z-index: 100;
    padding: 20px 0px; }
    .home main .collection-title h3 {
      font-family: "inter";
      font-size: 16px;
      font-weight: 700; }
    .home main .collection-title h2 {
      font-family: "inter";
      font-size: 60px;
      font-weight: 700; }
      .home main .collection-title h2:hover {
        color: #b85858; }
    .home main .collection-title p {
      font-family: "inter";
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 0px !important; }
  .home main .collection {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0px 1px 25px grey; }
    .home main .collection .collection-element {
      width: 50%;
      max-height: 500px;
      overflow: hidden;
      position: relative; }
      .home main .collection .collection-element:hover .collection-new {
        opacity: 0.9;
        filter: grayscale(80%); }
      .home main .collection .collection-element:hover .overlay {
        opacity: 0.65; }
      .home main .collection .collection-element .collection-new {
        max-height: inherit;
        transition: 0.5s ease; }
      .home main .collection .collection-element .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.5s ease;
        background-color: black; }
        .home main .collection .collection-element .overlay .text {
          color: whitesmoke;
          font-size: 15px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          letter-spacing: 1; }
  .home main .promo {
    text-align: center;
    background-color: #b85858;
    max-width: 1000px;
    width: 100%;
    margin: 0px auto;
    box-shadow: 0px 1px 25px grey;
    z-index: 100;
    padding: 50px 80px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .home main .promo a {
      padding: 8px 60px;
      color: whitesmoke;
      font-weight: 400;
      letter-spacing: 1px;
      background-color: black;
      cursor: pointer;
      border: 0px;
      border-radius: 20px;
      text-decoration: none; }
      .home main .promo a:hover {
        background-color: #333131;
        color: whitesmoke;
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        transition: all 0.3s ease; }
    .home main .promo .text-container {
      display: flex;
      flex-direction: column; }
      .home main .promo .text-container h2 {
        font-weight: bold;
        font-size: 35px;
        color: whitesmoke;
        letter-spacing: 20px;
        padding-bottom: 3px;
        margin: 0px; }
      .home main .promo .text-container h3 {
        font-weight: 600;
        font-size: 16px;
        color: whitesmoke;
        letter-spacing: 5px;
        padding: 3px 0px 0px 0px;
        margin: 0px; }

@media only screen and (max-width: 600px) {
  .home main .collection-title h3 {
    font-family: "inter";
    font-size: 12px;
    font-weight: 700; }
  .home main .collection-title h2 {
    font-family: "inter";
    font-size: 20px;
    font-weight: 700; }
  .home main .collection-title p {
    font-family: "inter";
    font-size: 12px;
    font-weight: 700; }
  .home main .collection {
    flex-direction: column; }
    .home main .collection .collection-element {
      width: 100%; }
      .home main .collection .collection-element .collection-new {
        width: 100%; }
  .home main .promo h2 {
    font-size: 28px;
    letter-spacing: 18px; }
  .home main .promo h3 {
    font-size: 15px;
    letter-spacing: 4px; } }

.productos main {
  background-color: white;
  margin: 0px; }
  .productos main .products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 50px; }
    .productos main .products .product-item {
      font-weight: 600;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 40px; }
      .productos main .products .product-item .info-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        padding: 5px 5px 15px; }
        .productos main .products .product-item .info-item .name-product {
          text-align: left; }
        .productos main .products .product-item .info-item select {
          border: none;
          margin-right: auto;
          padding-left: 10px; }
      .productos main .products .product-item img {
        width: inherit;
        max-width: inherit;
        margin-bottom: -4px; }
      .productos main .products .product-item div.top-newarrivals {
        position: relative;
        overflow: hidden;
        width: 100%;
        max-width: 400px;
        cursor: pointer; }
        .productos main .products .product-item div.top-newarrivals:hover .overlay {
          opacity: 0.2; }
        .productos main .products .product-item div.top-newarrivals:active .overlay {
          opacity: 0; }
        .productos main .products .product-item div.top-newarrivals:active img {
          transform: scale(2);
          transform-origin: bottom; }
          .productos main .products .product-item div.top-newarrivals:active img.center-zoom {
            transform: scale(2);
            transform-origin: 50% 30%; }
        .productos main .products .product-item div.top-newarrivals .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: 0.5s ease;
          background-color: black;
          border-radius: 4px; }
      .productos main .products .product-item input.buttonCarrito {
        border: 2px solid #afafaf;
        background-color: transparent;
        color: #afafaf;
        font-size: 14px;
        border-radius: 4px;
        padding: 6px 15px;
        width: 100%;
        cursor: pointer; }
        .productos main .products .product-item input.buttonCarrito:hover {
          background-color: #afafaf;
          color: whitesmoke;
          transition: all 0.3s ease; }

@media only screen and (max-width: 600px) {
  .productos main .products {
    padding-top: 0px; }
  .productos main .productos .product-item div.top-newarrivals:hover .overlay {
    opacity: 0; } }

.faqs main {
  text-align: left;
  background-color: white;
  margin: 0px; }
  .faqs main .textFaqs {
    padding: 60px 0; }
    .faqs main .textFaqs ol {
      text-align: left;
      padding: 0px;
      margin: 2px 0px 2px 50px;
      font-size: 15px; }
    .faqs main .textFaqs h4 {
      font-family: "inter";
      font-size: 15px;
      font-weight: 600;
      margin: 2px 0px 8px 30px; }
    .faqs main .textFaqs p {
      margin: 2px 0px 2px 30px; }
  .faqs main .khaos-faqsAndInfo img {
    max-width: 100%;
    margin: 0px auto;
    position: relative; }

@media only screen and (max-width: 600px) {
  .faqs main div.fondo {
    width: 100%;
    padding: 60px 0px; }
    .faqs main div.fondo ol {
      margin: 2px 60px; }
    .faqs main div.fondo h4 {
      margin: 2px 40px; }
    .faqs main div.fondo p {
      margin: 2px 40px; } }

.sobre-khaos main {
  margin: 0px;
  text-align: left;
  background-color: white;
  padding: 0px 0px; }
  .sobre-khaos main .sobreKhaos-text {
    margin: 80px auto;
    font-size: 15px; }
  .sobre-khaos main p {
    margin: 2px 40px; }
  .sobre-khaos main img {
    max-width: 100%;
    margin: 0px auto;
    display: block; }

@media only screen and (max-width: 600px) {
  .sobre-khaos main {
    width: 100%;
    margin: 0px auto; }
    .sobre-khaos main p {
      margin: 2px 40px; } }

.contacto main {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 40px 0px; }
  .contacto main form {
    font-family: "inter";
    font-size: 14px;
    font-weight: 600;
    padding: 20px 40px; }
  .contacto main form legend {
    font-family: "inter";
    font-size: 15px;
    font-weight: 600;
    padding: 30px 0px; }
  .contacto main form label {
    font-weight: 600;
    color: black;
    display: block;
    padding-bottom: 5px; }
  .contacto main form input {
    border: 1px solid black;
    color: black;
    border-radius: 4px;
    padding: 5px 15px;
    max-width: 410px;
    width: 100%;
    margin-bottom: 10px; }
  .contacto main form input[type="submit"] {
    background-color: black;
    color: white;
    width: 70px; }
  .contacto main form input[type="submit"]:hover {
    background-color: #333131;
    color: whitesmoke;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  .contacto main form textarea {
    max-width: 410px;
    width: 100%;
    display: block;
    border-radius: 4px;
    padding: 5px 15px;
    margin-bottom: 10px; }
  .contacto main .contacto-info h3 {
    font-family: "inter";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 35px; }
  .contacto main .contacto-info h4 {
    font-family: "inter";
    font-size: 15px;
    font-weight: 600;
    margin-top: 30px; }
  .contacto main .contacto-info {
    text-align: center;
    padding-top: 100px;
    flex-grow: 1; }
  .contacto main .contacto-info p {
    font-family: "inter";
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px; }

@media only screen and (max-width: 600px) {
  .contacto main {
    flex-direction: column; }
    .contacto main .contacto-info h3 {
      margin-top: 20px; }
    .contacto main .contacto-info h4 {
      margin-top: 20px;
      margin-bottom: 40px; }
    .contacto main .contacto-info {
      padding-top: 0px; }
    .contacto main .contacto-info p {
      font-size: 14px;
      margin-bottom: 10px; } }
