.faqs main {
    font-family: "inter";
    text-align: left;
    background-color: map-get($theme-principal, background-color);
    margin: 0px;
    padding: 70px 0px;

    ol {
        text-align: left;
        padding: 0px;
        margin: 2px 0px 2px 50px;
    }
    
    h4 {
        @include font-style(17px, 900);
        margin: 2px 0px 2px 30px;
    }

    p {
        margin: 2px 0px 2px 30px;
        font-family: "inter";
    }
}



@media only screen and (max-width:600px) {
    .faqs main div.fondo {
        width: 100%;
        padding: 60px 0px;

        ol {
            margin: 2px 60px;
        }
    
        h4 {
            margin: 2px 40px;
        }
    
        p {
            margin: 2px 40px;
        }
    }
}