$border-color-focus: #afafaf;
$box-shadow-color: rgba(169, 169, 169, 0.25);
$max-width: 1000px;

$theme-principal: (
    primary-color: black,
    secondary-color: whitesmoke,
    tertiary-color: rgb(184, 88, 88),
    background-color: white,
    empty-background: rgb(220, 220, 220),
);

@mixin font-style($size, $weight) {
    font-family: "inter";
    font-size: $size;
    font-weight: $weight;
}

@mixin zoom($origin) {
    transform: scale(2);
    transform-origin: $origin;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: map-get($theme-principal, empty-background);

    * {
        font-family: "inter";
    }
}

.body-wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(auto, $max-width) 1fr;
    grid-template-rows: 154px auto 210px;
    grid-template-areas:
        "header header header"
        "vacio1 main vacio2"
        "footer footer footer";
    min-height: 100vh;
}

main {
    grid-area: main;
}

header {
    grid-area: header;
    background-color: map-get($theme-principal, primary-color);
    box-shadow: 0px 1px 10px grey;
    z-index: 100;

    nav {
        background-color: map-get($theme-principal, empty-background);
        box-shadow: 0px 0px 34px 11px #000;
    }

    ul {
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        height: 40px;

        li {
            display: inline-flex;
            flex-grow: 1;
            min-width: 120px;
            max-width: 200px;

            a {
                @include font-style(16px, 600);
                width: 100%;
                color: map-get($theme-principal, primary-color);
                text-align: center;
                padding: 10px 0px;
                display: inline-block;
                text-decoration: none;
                line-height: 1.2;

                &.activo,
                &:hover {
                    background-color: map-get($theme-principal, primary-color);
                    color: map-get($theme-principal, secondary-color);
                    transition: all 0.3s ease;
                }
                }
            }
        }
    }

    h1 {
        font-weight: 600;
        margin-bottom: 0px;
        line-height: 1.1;
        font-size: 33px;
    }

    p {
        margin-bottom: 0px;
    }

    .headerContent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
        max-width: 1000px;
        margin: 0 auto;
        height: 130px;
    }

    .logo img {
        width: 100px;
    }

    .welcomeKhaos {
        color: map-get($theme-principal, secondary-color);
        letter-spacing: 1px;
        flex-grow: 1;
        padding-left: 15px;
    }

    .carrito {
        font-size: 14px;
        font-weight: 500;
        color: map-get($theme-principal, secondary-color);
        padding-right: 40px;
        padding-left: 40px;
        margin-bottom: 0px !important;
        margin-left: auto;

        p {
            display: inline-block;
        }

        p,
        i {
            cursor: pointer;
        }

            &:hover { color: #b85858; }
    }

    .input-group {
        margin-bottom: 0px !important;
    }

.centrado {
    margin: 0px auto;
}

footer {
    grid-area: footer;
    background-color: map-get($theme-principal, primary-color);
    text-align: left;

    .footer-centrado {
        @extend .centrado;

        width: 100%;
        max-width: $max-width;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 14px;

        .redesSociales {
            .icons-container {
                display: flex;
                    i {
                        cursor: pointer;
                        color: map-get($theme-principal, secondary-color);
                        font-size: 16px;
                        padding-right: 20px;

                        &:hover {
                            color: map-get($theme-principal, tertiary-color);
                        }
                    }
                }
        }

        .newsletter {
            width: 40%;

            .btn-outline-secondary {
                color: map-get($theme-principal, secondary-color);
                border-color: map-get($theme-principal, secondary-color);
                font-size: 14px;
            }

            .form-control {
                border-radius: 7px;
                background-color: map-get($theme-principal, primary-color);
                border: 1px solid map-get($theme-principal, secondary-color);
                font-size: 13px;

                &:focus {
                    background-color: map-get($theme-principal, primary-color);
                    border: 1px solid $border-color-focus;
                    color: map-get($theme-principal, secondary-color);
                    box-shadow: 0 0 0 0.25rem $box-shadow-color;
                }
            }
        }

        h5,
        p {
            color: map-get($theme-principal, secondary-color);
        }

        h5 {
            @include font-style(14px, 600);
            letter-spacing: 2px;
        }

        p {
            @include font-style(12px, 200);
            margin: 7px 0px;
        }
    }

    #copyright {
        color: rgb(212, 208, 208);
        font-size: 12px;
        text-align: center;
        padding: 30px 0px 20px 0px;
        margin: 0px;
        background-color: map-get($theme-principal, primary-color);
    }
}

@media only screen and (max-width: 1200px) {
    .body-wrapper {
        grid-template-columns: auto;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
}

@media only screen and (max-width: 1101px) {
    .body-wrapper {
        grid-template-rows: 202px auto 230px;
    }

    header {
        .input-group {
            margin-bottom: 10px !important;
        }

        .welcomeKhaos h1 {
            font-size: 30px;
        }

        .search {
            width: 50%;
            order: 4;
            margin-left: auto;
        }
    }

    footer .footer-centrado {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 680px) {
    .body-wrapper {
        grid-template-rows: 205px auto 414px;
    }

    header {
        ul {
            width: 100%;
            list-style-type: none;
            margin: 0;
            padding: 0;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            li {
                width: 100%;
                max-width: 100%;

                a {
                    width: 100%;
                    font-size: 14px;
                    padding: 3px 0px;

                    &.activo,
                    &:hover {
                        background-color: rgb(179, 176, 176);
                        color: map-get($theme-principal, secondary-color);
                    }
                }
            }
        }

        .welcomeKhaos h1 {
            padding-left: 20px;
            font-size: 25px;
            line-height: 1;
        }

        .carrito {
            padding-left: 20px;
            font-size: 12px;
        }

        .search {
            display: none;
        }

        .logo {
            width: 100%;
        }

        .logo img {
            display: none;
        }

        .input-group {
            margin-bottom: 10px !important;
        }
    }

    footer {
        .footer-centrado {
            display: flex;
            flex-direction: column;

            .redesSociales {
                vertical-align: 0px;
                text-align: center;
                letter-spacing: 10px;
            }

            .atencionClientes {
                vertical-align: 0px;
                text-align: center;
            }

            .newsletter {
                margin: 0px auto;
                text-align: center;
                width: 80%;
            }

            h5 {
                margin: 15px 0px 5px 0px;
                font-size: 14px;
            }

            .form-control {
                margin-top: 5px;
            }

            .btn {
                margin-top: 5px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .body-wrapper {
        grid-template-rows: 223px auto 414px;
    }

    header .welcomeKhaos {
        width: 100%;
    }
}