.productos main {
    background-color: map-get($theme-principal, background-color);
    margin: 0px;

    .products {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-top: 50px;

        .product-item {
            font-weight: 600;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 40px;

            .info-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
                padding: 5px 5px 15px;
                
                .name-product {
                    text-align: left;
                }
    
                select {
                    border: none;
                    margin-right: auto;
                    padding-left: 10px;
                }
            }

            img {
                width: inherit;
                max-width: inherit;
                margin-bottom: -4px;
            }

            div.top-newarrivals {
                position: relative;
                overflow: hidden;
                width: 100%;
                max-width: 400px;
                cursor: pointer;

                &:hover .overlay {
                    opacity: 0.2;
                }

                &:active {
                    .overlay {
                        opacity: 0;
                    }

                    img {
                        @include zoom(bottom);

                        &.center-zoom {
                            @include zoom(50% 30%);
                        }
                    }
                }

                .overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: 0.5s ease;
                    background-color: map-get($theme-principal, primary-color);
                    border-radius: 4px;
                }
            }

            input.buttonCarrito {
                border: 2px solid $border-color-focus;
                background-color: transparent;
                color: $border-color-focus;
                font-size: 14px;
                border-radius: 4px;
                padding: 6px 15px;
                width: 100%;
                cursor: pointer;

                &:hover {
                    background-color: $border-color-focus;
                    color: map-get($theme-principal, secondary-color);
                    transition: $transition;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .productos main {
        .products {
            padding-top: 0px;
        }
    
        .productos .product-item div.top-newarrivals:hover .overlay {
            opacity: 0;
        }
    }
}
