@import "./header-footer.scss";

main {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

main form {
    font-family: "inter";
    font-size: 14px;
    padding: 20px 40px;
}

main form legend {
    padding: 30px 0px;
    font-weight: 700;
    font-size: 15px;
}

main form label {
    font-weight: 600;
    color:rgb(0, 0, 0);
    display: block;
    padding-bottom: 5px;
}

main form input {
    border: 1px solid $primary-color;
    color:rgb(0, 0, 0);
    border-radius: 4px;
    padding: 5px 15px;
    max-width: 350px;
    width: 100%;
    margin-bottom: 10px;
}

main form input[type="submit"] {
    background-color: $primary-color;
    color: white;
    width: 70px;
}

main form input[type="submit"]:hover {
    background-color: rgb(51, 49, 49);
    color:whitesmoke;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)
}

main form textarea {
    max-width: 350px;
    width: 100%;
    display: block;
    border-radius: 4px;
    padding: 5px 15px;
    margin-bottom: 10px;
}

main .contacto-info h3 {
    font-family: "inter";
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 35px;
}

main .contacto-info h4 {
    font-family: "inter";
    font-weight: 600;
    font-size: 15px;
    margin-top: 30px;
}

main .contacto-info {
    text-align: center;
    padding-top: 120px;
    flex-grow: 1;
}

main .contacto-info p {
    font-family: "inter";
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

@media only screen and (max-width:600px) {
    main {
        flex-direction: column;
    }

    main .contacto-info h3 {
        margin-top: 20px;
    }

    main .contacto-info h4 {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    
    main .contacto-info {
        padding-top: 0px;
    }
    
    main .contacto-info p {
        font-size: 14px;
        margin-bottom: 10px;
    }        
}